.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.block {
  display: block;
}
.clear-fix-inner::after {
  content: "";
  display: block;
  clear: both;
}