html {
  scroll-behavior: smooth;
}
.body {
  margin: 0;
}
element-style {
  margin: 0%;
}
.footer {
  color: darkgray;
  margin-left: 40px;
}
p {
  font-family: Helvetica, Arial, sans-serif;
  margin: 10px;
}
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: cadetblue;
}
a:hover {
  text-decoration: underline;
  color: chocolate;
}
.header-top {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 5px;
  background-color: var(--menu-bg);
  box-shadow: 0 20px 20px -20px var(--menu-hover);
}
:root {
  --menu-icon: grey;
  --menu-bg: rgb(253, 220, 237);
  --menu-hover: rgb(255, 214, 219);
  --menu-font-size: 40px;
}
.header-top__logo {
  display: inline-block;
  font-size: var(--menu-font-size);
  text-transform: capitalize;
  margin-left: 45px;
  margin-bottom: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 900;
}
.header-top__logo:any-link {
  color: rgb(22, 168, 22);
  text-decoration: none;
}
.header-top__logo:hover {
  color: green;
}
.header-top__lines-container {
  display: none;
}
.header-top__menu-checkbox_lines-item {
  background-color: var(--menu-icon);
  display: block;
  height: 2px;
  width: 36px;
  position: relative;
}
.header-top__menu-checkbox_lines-item::before,
.header-top__menu-checkbox_lines-item::after {
  background-color: var(--menu-icon);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  transition: all 0.1s linear;
}
.header-top__menu-checkbox_lines-item::before {
  top: 12px;
}
.header-top__menu-checkbox_lines-item::after {
  top: -12px;
}
.header-top__menu-checkbox {
  display: none;
}
.header-top__menu-checkbox:checked ~ .header-top__container {
  max-height: 100%;
}
.header-top__menu-checkbox:checked
  ~ .header-top__lines-container
  .header-top__menu-checkbox_lines-item {
  background: transparent;
}
.header-top__menu-checkbox:checked
  ~ .header-top__lines-container
  .header-top__menu-checkbox_lines-item::before {
  transform: rotate(-45deg);
  top: 0;
}
.header-top__menu-checkbox:checked
  ~ .header-top__lines-container
  .header-top__menu-checkbox_lines-item::after {
  transform: rotate(45deg);
  top: 0;
}
.header-top__container {
  position: relative;
  float: right;
}
.header-top__menu {
  margin-right: 20px;
}
.header-top__menu li {
  display: inline-flex;
  justify-content: center;
  font-size: 3em;
  background-color: #eaeafa;
  border: 1px solid rgb(204, 203, 203);
  border-radius: 60px;
  width: 200px;
  text-align: center;
}
.header-top__link-menu {
  font-size: 27px;
  width: 200px;
  padding: 20px;
}
.header-top__link-menu:any-link {
  color: rgb(22, 168, 22);
  text-decoration: none;
}
.header-top__link-menu:hover {
  color: green;
}
.header-top___logo:any-link {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(2, 151, 2);
  text-decoration: none;
  font-style: oblique;
  font-weight: 600;
}
.description__header h1 {
  margin-top: 0;
  box-shadow: 0 20px 20px -20px rgb(233, 99, 99);
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.description__good-inner-img {
  float: left;
}
.description {
  text-align: justify;
  text-indent: 1.5em;
}
.description__header {
  text-align: center;
  background: rgb(174, 174, 185);
  background: linear-gradient(
    170deg,
    rgba(174, 174, 185, 1) 0%,
    rgba(236, 236, 236, 1) 18%,
    rgba(118, 176, 95, 1) 40%,
    rgba(145, 8, 165, 1) 63%,
    rgba(213, 68, 112, 1) 83%,
    rgba(0, 212, 255, 1) 100%
  );
}
.container-menu a {
  display: block;
  padding: 20px;
}
.container-menu a:hover {
  background-color: transparent;
  color: green;
  text-decoration: none;
}
.products-container {
  text-align: center;
  padding: 20px;
}
.products-container h1 {
  margin-bottom: 30px;
  text-transform: uppercase;
}
.products-container__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1px;
}
.products-item {
  flex-basis: 500px;
  text-align: center;
  border: 5px solid rgb(18, 202, 58);
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(87, 146, 138);
  margin-bottom: 40px;
  margin: 16px;
  padding: 20px;
  transition-property: background-color border border-radius;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  position: relative;
}
.products-item__text{
  text-align: justify;
  text-indent: 1.5em;
}
.products-item:hover {
  background-color: rgb(242, 244, 247);
  border: 7px solid rgb(147, 177, 233);
  border-radius: 40px;
  margin: 1px;
}
.products-item h2 {
  font-size: 1.5em;
}
.products-item__products-link {
  display: inline-block;
  text-align: center;
  opacity: 0.7;
}
.products-item__products-link:hover {
  opacity: 1;
}
.products-item__products-link img {
  width: 100%;
}
.products-link_episcia img {
  width: 500px;
}
.products-item__products-link span {
  display: inline-block;
}
.products-item_img-bg {
  background-color: bisque;
  padding: 20px;
  height: 200px;
  background-image: url(777.jpg);
  position: relative;
}
.products-item_img-bg-sun {
  position: absolute;
  right: -40px;
  top: -40px;
}
.products-item_animation-sun-appearance-item1 {
  animation-name: sun-appearance;
  animation-duration: 8s;
  animation-timing-function: linear;
}
.products-item_animation-sun-appearance-item3 {
  animation-name: sun-appearance;
  animation-duration: 8s;
  animation-delay: 8s;
  animation-timing-function: linear;
}
.products-item_animation-delay {
  animation-name: delay;
  animation-duration: 8s;
  animation-timing-function: linear;
}
.products-item_sun-appearance {
  position: absolute;
  right: 120px;
  top: -20px;
}
.container-menu {
  display: flex;
}
.menu-lines {
  font-size: 35px;
  text-align: left;
  padding-left: 40px;
}
.menu-lines__menu-lines-item {
  list-style: none;
  width: 450px;
  background-color: #f0faf3;
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
}
.menu-lines__menu-lines-item li {
  font-size: 28px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-bottom: 1px solid;
  position: relative;
  display: block;
}
.menu-lines h1 {
  font-size: 1.5em;
  background-color: rgb(216, 240, 194);
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 25px;
  width: 440px;
  margin-bottom: 0;
}
.menu-lines__link-katalog:link {
  color: black;
  font-weight: 100px;
}
.menu-lines__link-katalog:hover {
  text-decoration: none;
}
.menu-lines__link-katalog:visited {
  color: black;
}
.fixed-to-top {
  width: 50px;
  text-align: center;
  background-color: rgb(226, 253, 198);
  border: 1px solid rgb(182, 238, 123);
  position: fixed;
  right: 10px;
  bottom: 20px;
  opacity: 0.7;
}
.fixed-to-top a {
  display: block;
  padding: 5px;
}
.fixed-to-top:hover {
  opacity: 1;
}

.header-tab {
  text-align: center;
}
.container-tab {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.table-options {
  border-collapse: collapse;
  color: rgb(56, 24, 1);
}
.table-options td,
.table-options th {
  border: 2px solid rgb(41, 1, 78);
  padding: 10px;
}
.sum {
  text-align: center;
  font-weight: bold;
}
.table-options th {
  background-color: aquamarine;
}
.table-options td {
  background-color: rgb(234, 241, 239);
}
@keyframes sun-appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes delay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
