.footer {
  color: darkgray;
}
p {
  font-family: Helvetica, Arial, sans-serif;
}
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: cadetblue;
}
a:hover {
  text-decoration: underline;
  color: chocolate;
}
.menu li {
  display: inline;
  font-size: 3em;
  padding-left: 20px;
  padding-right: 20px;
}
.work {
  font-size: 1em;
  background-color: rgb(145, 216, 216);
  background-image: url(./images.jpg);
  opacity: 0.7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.work_item {
  font-size: 1em;
}
.work_item1 {
  border: 1px dashed greenyellow;
  padding: 2px;
  margin: 10px;
}
.work_item2 {
  border: 1px dashed greenyellow;
  padding: 2px;
  margin: 20px;
}
.work_item3 {
  border: 1px dashed greenyellow;
  padding: 2px;
  margin: 30px;
}
.work_header {
  font-size: 1.2em;
}
.work_text {
  font-size: 1em;
}
.header {
  background: rgb(174,174,185);
  background: linear-gradient(170deg, rgba(174,174,185,1) 0%, rgba(236,236,236,1) 18%, rgba(118,176,95,1) 40%, rgba(145,8,165,1) 63%, rgba(213,68,112,1) 83%, rgba(0,212,255,1) 100%);
}
.video-background {
  padding: 70px;
  background-color: #929bb8;
  color: #fff;
  overflow: hidden;
  position: relative;
}
.video {
  width: 1938px;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  left: 50%;
  position: absolute;
}
.h2_title {
  font-family: sans-serif;
  font-size: 100px;
  text-align: center;
  position: relative;
  background-color: blueviolet;
}